@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@import "tailwindcss";




.code{
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  @keyframes scaleIn {
    0% {
      opacity: 0;
      scale: 0;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
  }

.animation-scale {
    animation: scaleIn 0.3s ease-in-out;
}