@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    font-family: "Niramit", serif;
    font-weight: 500;
    font-style: normal;
  }
.main-font{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.animation-hidden{
  
  opacity: 0;
  filter:blur(2px);
  
  transition: all 1s;
}
.show{
  overflow: hidden;
  opacity: 1;
  filter: blur(0);
  
}
@media(prefers-reduced-motion){
  .animation-hidden{
    transition: none;
  }
}